<h1>New Game</h1>
<%= @letters %>

<form action="/score" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="new">
  <input type="submit" value="submit">
</form>
